{% extends "_layout/elements/tiles/tile.html.twig" %}

{% block tilesize %}size33{% endblock %}

{% block tilename %}Kostka rubika 3x3x3{% endblock %}

{% block tileimage %}{{ site.assets ~ '/images/tiles/cube-3x3x3_1.jpg' }}{% endblock %}

{% block tileoverlay %}
    <h3>Metody układania:</h3>
    <ul>
        <li><a href="#">Metoda LBL dla początkujących</a></li>
        <li><a href="#">Metoda Fridirch</a></li>
        <li><a href="#">Metoda ZZ dla zaawansowanych</a></li>
    </ul>
    <h3>Inne:</h3>
    <ul>
        <li><a href="{{ site.url ~ site.routes.history }}">Historia Kostki Rubika</a></li>
        <li><a href="#">Objaśnienie notacji</a></li>
    </ul>
{% endblock %}