{% extends "_layout/elements/tiles/panel.html.twig" %}

{% block tilename %}Kostka rubika 3x3x3{% endblock %}

{% block tilecontent %}
    <h4>Metody układania:</h4>
    <ul>
        <li><a href="#">Metoda LBL dla początkujących</a></li>
        <li><a href="{{ site.url ~ site.routes.c3_fridrich }}">Metoda Fridrich</a></li>
        {# <li><a href="#">Metoda ZZ dla zaawansowanych</a></li> #}
    </ul>
    <h4>Inne:</h4>
    <ul>
        <li><a href="{{ site.url ~ site.routes.history }}">Historia Kostki Rubika</a></li>
        {# <li><a href="#">Objaśnienie notacji</a></li> #}
        <li><a href="{{ site.url ~ site.routes.positions }}">Zapis pozycji klocków w kostce</a></li>
    </ul>
{% endblock %}
