{% extends "_layout/elements/tiles/tile.html.twig" %}

{% block tilesize %}size22{% endblock %}

{% block tilename %}Kostka rubika 4x4x4{% endblock %}

{% block tileimage %}{{ site.assets ~ '/images/tiles/cube-4x4x4_1.jpg' }}{% endblock %}

{% block tileoverlay %}
    <h3>Dostępne materiały:</h3>
    <ul>
        <li>Kurs układania</li>
    </ul>
{% endblock %}