<div class="mui-col-md-6 mui-col-lg-4">
  <div class="mui-panel cube-panel">
    <div class="cube-panel-heading cube-bg--{{ color }}">
      <h3 class="cube-panel-title">{% block tilename %}{% endblock %}</h3>
    </div>
    <div class="cube-panel-body">
      {% block tilecontent %}
      {% endblock %}
    </div>
  </div>
</div>
