<div class="brick {% block tilesize %}size22{% endblock %}">
    <div class="cover"> 
        {% block tilecover %}
            <h1>{% block tilename %}{% endblock %}</h1>
            <img src="{% block tileimage %}{% endblock %}" />
        {% endblock %}
    </div>
    <div class="overlay">
        <p>
            {% block tileoverlay %}
            {% endblock %}
        </p>
    </div>
</div>