.cube--no-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.cube--pull-left {
  float: left;
}

.cube--pull-right {
  float: right;
}

.centered {
  text-align: center;
}

.cube-table--responsive {
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
}
