<footer>
  <div class="mui-container mui--text-center">
    <a href="{{ site.url }}">KostkaRubika.net</a> | <a href="{{ site.url ~ site.routes.pages_cookies }}">Polityka Prywatności</a>
  </div>
</footer>
