<div class="navbar navbar-default navbar-material-brown-800" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-logo" href="{{ site.url }}">
                <img src="{{ site.assets ~ '/images/logo-small.png' }}">
                KostkaRubika.net
            </a>
        </div>
    </div>
</div>
