<header>
  <div class="mui-appbar mui--appbar-height mui--appbar-line-height cube-bg--brown-dark">
    <div class="mui-container">
      <a href="{{ site.url }}" class="cube--no-decoration cube-text--white">
        <img src="{{ site.assets ~ '/images/logo-small.png' }}">
        <span class="mui--text-title">KostkaRubika.net</span>
      </a>
    </div>
  </div>
</header>
