<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a href="http://speedcube.pl/sklep" target="_blank" class="center-block" style="max-width: 420px; margin-bottom: 10px;">
          <img src="{{ site.assets ~ "/images/ads/speedcube.jpg" }}" style="width: 100%;">
        </a>
      </div>
  </div>
</div>
