<div class="container">
  <div class="row">
    <a href="http://www.speedcube.pl/sklep">
      <img src="{{ site.assets ~ "/images/ads/speedcube.jpg" }}" class="center-block" style="max-width: 450px; width: 100%; padding: 15px">
    </a>
  </div>
</div>
