<div class="mui-container cube-ads-speedcube">
  <div class="mui-row">
    <div class="mui-col-md-6 mui-col-lg-4 mui-col-md-offset-3 mui-col-lg-offset-4">
      <a href="https://www.speedcube.pl" target="_blank" class="center-block">
        <img src="{{ site.assets ~ "/images/speedcube/speedcube.pl-blue.png" }}" style="width: 100%;">
      </a>
    </div>
  </div>
</div>
