/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Ubuntu', sans-serif !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e9f0f5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 70px 15px 0;
}

.navbar-default .navbar-brand {
    padding: 0px;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-nav>li>a {
    line-height: 30px;
    color: white;
}

.navbar-default {
    background-color: #303e49;
    color: white;
}

article {
    background-color: white;
    box-shadow: 0 3px 0 #d7e4ed;
    border-radius: 5px;
    min-height: 450px !important;
    margin: 15px 0 25px 0;
    padding: 10px 25px 10px 25px;
    text-align: justify;
}

article h1 {
    color: #49A7F3;
    border-bottom: 2px dashed #49A7F3;
    font-size: 30px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

article img {
    margin: 10px;   
}

.centered {
    text-align: center;
}

.center {
    margin: 0 auto;
}