/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Ubuntu', sans-serif !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e9f0f5;
}

body > .container {
    padding: 70px 15px 0;
}

.navbar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
}

.navbar {
    min-height:40px;
}

.navbar .navbar-brand {
    padding: 0px;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-nav>li>a {
    line-height: 30px;
    color: white;
}

article {
    background-color: white;
    min-height: 450px !important;
    margin: 15px 0 25px 0;
    padding: 10px 25px 10px 25px;
    text-align: justify;
}

article h1 {
    border-bottom: 2px dashed #000;
    font-size: 30px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

article h2 {
    font-size: 24px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

article img {
    margin: 10px;
}

.centered {
    text-align: center;
}

.center {
    margin: 0 auto;
}
