{% extends "_layout/layout.html.twig" %}

{% block title %}
    {%- if page.title is defined and page.title is not empty -%}
        {{ page.title ~ " - " ~ site.title_short }}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{% endblock %}

{% block content %}
  <div class="mui-row cube-article mui--z4">
    <div class="mui-col-md-12">
      <article>
        {% set html = page.html %}

        {% for name,route in site.routes %}
            {% set html = html|replace({('%route.'~name~'%'): site.url ~ route}) %}
        {% endfor %}
        {% set html = html|replace({'%site.assets%': site.assets}) %}
        {% set html = html|replace({'%site.url%': site.url}) %}

        {{ html }}
      </article>
    </div>
  </div>
{% endblock %}
