{% extends "_layout/layout.html.twig" %}

{% block title %}
    {% if page.title is defined and page.title is not empty %}
        {{ page.title ~ " - " ~ site.title_short }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <article class="shadow-z-4">
                {% include '_layout/elements/breadcrumb.html.twig' %}
                {% set html = page.html %}

                {% for name,route in site.routes %}
                    {% set html = html|replace({('%route.'~name~'%'): site.url ~ route}) %}
                {% endfor %}
                {% set html = html|replace({'%site.assets%': site.assets}) %}
                {% set html = html|replace({'%site.url%': site.url}) %}

                {{ html }}
            </article>
        </div>
    </div>
{% endblock %}
