<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}KostkaRubika.net - układanie, opisy, porady{% endblock %}</title>
        {% block stylesheets %}
            {% include "_layout/elements/html5shiv.html.twig" %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% include "_layout/elements/stylesheets.html.twig" %}
        {% endblock %}

        {% include "_layout/elements/facebook-meta.twig" %}
    </head>
    <body>

        {% block body %}
            <!-- Fixed navbar -->
            {% include "_layout/elements/navbar.html.twig" %}

            {% block page %}
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}

            <!-- Sticky footer -->
            {% include "_layout/elements/footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {% include "_layout/elements/javascripts.html.twig" %}
        {% endblock %}
    </body>
</html>
