<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ site.assets ~ "/images/logo-small.png"}}">
    <link rel="canonical" href="{{ site.url }}/{{ page.location }}" itemprop="url">
    <meta name="theme-color" content="#4e342e">
    <meta name="description" content="Strona KostkaRubika.net poświęcona jest najlepsze łamigłówce wszechczasów - Kostce Rubika. Kursy, poradniki i opisy dla początkujących i nie tylko." />
    <meta name="keywords" content="kostka, rubika, rubik, algorytmy, 3x3x3, 3x3, fridrich, 4x4x4, 5x5x5, pyraminx, piramidka, square-1, układanie"/>

    {# Website title #}
    <title itemprop="name">{% block title %}{{ site.title }}{% endblock %}</title>

    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# CSS Stylesheets #}
    {% block stylesheets %}
        {% include "_layout/elements/stylesheets.html.twig" %}
    {% endblock %}
  </head>
  <body>
    {% include "_layout/elements/google-analytics.html.twig" %}

    {% block body %}
      {# Fixed navbar #}
      {% include "_layout/elements/navbar.html.twig" %}
      <div class="mui--appbar-height"></div>

      {% if "speedcube" in site.ads %}
        {% include "_layout/elements/ads/speedcube.html.twig" %}
      {% endif %}

      {# Main content #}
      {% block page %}
        <div id="content" class="mui-container">
          {% block content %}{% endblock %}
        </div>
      {% endblock %}
      {% include "_layout/elements/footer.html.twig" %}
    {% endblock %}

    {# JS at the end to speed up page load #}
    {% block javascripts %}
        {% include "_layout/elements/javascripts.html.twig" %}
    {% endblock %}
  </body>
</html>
