{% extends '_layout/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ site.assets ~ '/js/homepage.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="cube-wall">

    {% include "_layout/elements/tiles/3x3x3.html.twig" %}
    {% include "_layout/elements/tiles/4x4x4.html.twig" %}
    {% include "_layout/elements/tiles/2x2x2.html.twig" %}
    {% include "_layout/elements/tiles/pyraminx.html.twig" %}

</div>
{% endblock %}