{% extends '_layout/layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Tradycyjne Kostki Rubika:</h3>
    </div>
    {% include "_layout/elements/tiles/2x2x2.html.twig" with { "color": "material-green" }%}
    {% include "_layout/elements/tiles/3x3x3.html.twig" with { "color": "material-orange" }%}
    {% include "_layout/elements/tiles/4x4x4.html.twig" with { "color": "material-red" }%}
    {% include "_layout/elements/tiles/5x5x5.html.twig" with { "color": "material-blue" }%}
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Kostki sześcienne i nie tylko:</h3>
    </div>
    {% include "_layout/elements/tiles/square.html.twig" with { "color": "material-lime-800" }%}
    {% include "_layout/elements/tiles/pyraminx.html.twig" with { "color": "material-brown" }%}
</div>
{#<div class="row">
    <div class="col-md-12">
        <h3>Inne puzzle i łamigłówki:</h3>
    </div>
    {% include "_layout/elements/tiles/under_construction.html.twig" with { "color": "material-grey" }%}
</div>#}
{% endblock %}
