{% extends '_layout/layout.html.twig' %}

{% block content %}
<div class="mui-row">
  <div class="mui-col-md-12">
    <h2>Tradycyjne Kostki Rubika:</h2>
  </div>
    {% include "_layout/elements/tiles/2x2x2.html.twig" with { "color": "green" }%}
    {% include "_layout/elements/tiles/3x3x3.html.twig" with { "color": "orange" }%}
    {% include "_layout/elements/tiles/4x4x4.html.twig" with { "color": "red" }%}
    {% include "_layout/elements/tiles/5x5x5.html.twig" with { "color": "blue" }%}
</div>
<div class="mui-row">
  <div class="mui-col-md-12">
    <h2>Kostki sześcienne i nie tylko:</h2>
  </div>
    {% include "_layout/elements/tiles/square.html.twig" with { "color": "lime-dark" }%}
    {% include "_layout/elements/tiles/pyraminx.html.twig" with { "color": "brown" }%}
    {% include "_layout/elements/tiles/1x1x2.html.twig" with { "color": "green-light" }%}
</div>
{% endblock %}
